.IrButton
    @extend .flex_center
    width: 150px
    height: 52px
    .btnbackground
        position: absolute
        width: 150px
        heigh: 52px
        z-index: -1
        img
            object-fit: cover
            width: 100%
            height: 100%
    .btntext
        color: $default
        font-weight: bold
        font-size: 18px


