.IrButton
    @extend .flex_center
    width: 150px
    height: 52px
    cursor: pointer
    &.small
        width: 80px
        height: 30px
        .btnbackground
            width: 100px
        .btntext
            font-size: 14px
    .btnbackground
        position: absolute
        @media #{$media_large}
            width: 200px
        width: 150px
        // heigh: 52px
        z-index: -1
        img
            object-fit: cover
            width: 100%
            height: 100%
    .btntext
        color: $default
        font-weight: 500
        @media #{$media_large}
            font-size: 21px
        @media #{$media_phones}
            font-size: 14px
        font-size: 16px

.Button
    position: relative
    outline: none
    color: $primary
    display: flex
    height: 35px
    z-index: 100
    &.icon
        display: flex
        justify-content: center
        width: 35px
    &:hover
        .btncircle
            opacity: 1
            transform: translateY(0px)
        .iconncircle
            opacity: 1
    &.selected
        .btncircle
            opacity: 1
            transform: translateY(0px)
        .iconncircle
            opacity: 1
            transform: translateY(0px)
    &.clicked
        .btntext
            animation: clicked_text .6s ease
        .btncircle
            opacity: 0
            transform: translateY(0) translateX(-20px) scale(3)
        .iconncircle
            // opacity: 0
            transform: scale(.8)
    .btntext
        transition: all .3s ease
    .iconncircle
        position: absolute
        width: 100%
        height: 100%
        border-radius: 100%
        background-color: $secondary
        left: 0
        top: 0
        opacity: 0
        transition: all .2s ease
        z-index: -1
        // box-shadow: $box_shadow_1
        &.clicked
            opacity: 0
            transform: translateY(0) translateX(-20px) scale(3)
    .btncircle
        position: absolute
        margin: 7.5px
        width: 20px
        height: 20px
        border-radius: 10px
        background-color: $secondary
        right: -5px
        top: 0
        opacity: 0
        transition: all .3s ease
        transform: translateY(-20px)
        z-index: -1
        &.clicked
            opacity: 0
            transform: translateY(0) translateX(-20px) scale(3)
    .btn_img_circle
        position: absolute
        width: 35px
        height: 35px
        // background-color: $secondary
        right: -5px
        top: 0
        opacity: 0
        transition: all .3s ease
        transform: translateY(-20px)
        z-index: -1
        img
            object-fit: cover
            height: 100%
            width: 100%

@keyframes clicked_text
    0%
        transform: translateY(0deg) rotate(0)
    30%
        transform: translateY(-10px) rotate(-10deg)
    50%
        transform: translateY(0px) rotate(0)
    75%
        transform: translateY(-6px) rotate(0)
    100%
        transform: translateY(0px) rotate(0)
    // 80%
    //     transform: translateY(-3px) rotate(0)
    // 100%
    //     transform: translateY(0px) rotate(0)

// @keyframes clicked_text
//     0%
//         transform: rotate(0deg)
//     20%
//         transform: rotate(-20deg)
//     30%
//         transform: rotate(-5deg)
//     45%
//         transform: rotate(-15deg)
//     60%
//         transform: rotate(-7deg)
//     100%
//         transform: rotate(-10deg)
