header
    height: 40px
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center
    // background-color: $default
    // box-shadow: $box_shadow_1
    .logo_section
        display: flex
        height: 40px
        align-items: center
        div
            margin-right: 6px
        .Logo
            margin-top: 6px
        .name
            text-transform: uppercase
            font-weight: bold
