header
    @media #{$media_phones}
        // justify-content: center
    height: 40px
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center
    z-index: 500
    // background-color: $default
    // box-shadow: $box_shadow_1
    .logo_section
        display: flex
        height: 40px
        align-items: center
        transition: all .3s ease
        div
           margin-right: 10px
        .Logo
            margin-top: 6px
        .name
            font-size: 18px
            text-transform: uppercase
            font-weight: 500
        .info
            font-family: 'Indie Flower', Caveat
            font-size: 20px
            font-weight: 300
            // margin-left: 10px
            opacity: .5
            // text-transform: uppercase
    .Menu
        @media #{$media_phones}
            display: none
        display: flex
        height: 22px
        align-items: center
    .mobile_menu
        display: none
        @media #{$media_phones}
            display: block

