@import 'colors'
@import 'config'
@import 'content'
@import 'header'
@import 'loader'
@import 'elements'
@import 'store'
@import 'contacts'

body
    margin: 0
    padding: 0
    font-family: 'Josefin Sans', Podkova, 'Roboto Slab', sans
    font-weight: 400
    @media #{$media_large}
        // font-size: 19px
    font-size: 18px
    background-color: $default
    color: $dark
    overflow: hidden
    button
        font-family: 'Josefin Sans', Podkova, 'Roboto Slab', sans
        font-size: 18px
        font-weight: 500
        margin: 5px
        border: none
        background: none
    #root
        height: 100vh
        overflow: hidden
        .effect
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            z-index: -1
            box-shadow: inset 0 0 50px 0px $primary
        #radial_g
            @media #{$media_phones}
                background: radial-gradient(circle, rgba(2,0,36,0) 0%, $default 100%)
            position: absolute
            left: 0
            height: 100vh
            width: 100vw
            background: radial-gradient(circle farthest-side at 60%, rgba(2,0,36,0) 20%, $default 100%)
            z-index: -49
            transition: all .3s ease
            &.home_hidden
                background: $default
                z-index: 0
        #home_canvas
            position: absolute
            top: 0
            left: 0
            z-index: -50
        .markup
            @media #{$media_large}
                // padding: 120px 300px
                padding: 120px 160px
            @media #{$media_normal}
                // padding: 90px 120px
                padding: 90px 100px
            @media #{$media_small}
                // padding: 70px 100px
                padding: 70px
            @media #{$media_phones}
                // padding: 40px
                padding: 40px
            box-sizing: border-box
            width: 100%
            height: 100%
            padding: 80px 150px
            @extend .flex_space_center
            flex-direction: column
            position: absolute
            .bar
                @media #{$media_phones}
                    justify-content: center
                width: 100%
                height: 40px
                display: flex
                align-items: center
                justify-content: space-between
                z-index: 500
                &.blurred
                    .bar_name_container
                        opacity: .8
                        color: $default
                    .Pagination
                        opacity: 0
                .bar_name_container
                    display: flex
                    align-items: center
                    div
                        margin-right: 6px
                    .adooone
                        height: 40px
                        width: 20px
                        img
                            width: 100%
                            height: 100%
                            object-fit: contain
                    .bar_name
                        font-size: 18px
                        font-weight: 500
                        // text-transform: uppercase
                    .bar_rights
                        font-size: 18px
                        font-weight: 300
                        opacity: .4
                .drawing
                    font-family: Caveat
                    font-size: 16px
                    opacity: .7
                .Pagination