.StoreBook
    display: flex
    justify-content: space-between
    width: 100%
    height: 100%
    position: absolute
    left: 0
    top: 0
    background: $default
    z-index: 100
    // padding: 120px 150px
    box-sizing: border-box
    @media #{$media_large}
        padding: 160px 150px
    @media #{$media_normal}
        padding: 130px 120px
    // @media #{$media_small}
    //     padding: 110px 100px
    // @media #{$media_phones}
    //     padding: 40px
    // position: absolute
    .Navigation
        position: absolute
        right: 0
        height: 100%
        width: 100%
        padding: 20px
        box-sizing: border-box
        display: flex
        flex-direction: column
        align-items: flex-end
        transition: all .4s ease
        z-index: 10
        &.table
            width: 100%
            z-index: 30
            // height: 100%
            .nav_list_toolbar
                background: none
                box-shadow: none
                width: 100%
            .nav_list
                opacity: 0
            .nav_grid
                transform: translateY(0)
        .nav_grid
            position: absolute
            display: flex
            flex-wrap: wrap
            justify-content: center
            top: 80px
            left: 0
            width: 100%
            opacity: 0
            transform: translateY(200px)
            animation: loading_grid .2s ease
            animation-fill-mode: forwards
            // animation-delay: .1s
            // height: 100%
            padding-bottom: 120px
            .nav_item
                position: relative
                width: 300px
                height: 300px
                // background: darken($default, 2)
                background: linear-gradient(darken($default, 2), darken($default, 0))
                margin: 15px
                border-radius: 10px
                overflow: hidden
                box-shadow: inset $box_shadow_2
                border: 2px solid transparentize($secondary, 1)
                transition: all .1s ease
                &:hover
                    border: 2px solid transparentize($secondary, 0)
                    background: linear-gradient(transparentize($secondary, .8), darken($default, 0))
                    // background: transparentize($secondary, .8)
                    .nav_info
                        transform: translateY(-10px)
                        box-shadow: $box_shadow_1, $box_shadow_0
                    .nav_show_tools
                        opacity: 1
                .nav_show_tools
                    position: absolute
                    top: 0
                    left: 0
                    width: 100%
                    height: 40px
                    padding-left: 20px
                    display: flex
                    justify-content: space-between
                    align-items: center
                    opacity: 0
                    color: transparentize($dark, .4)
                    font-size: 16px
                    font-family: Caveat
                    transition: all .3s ease
                    box-sizing: border-box
                .nav_info
                    position: absolute
                    bottom: 0
                    width: 280px
                    height: 40px
                    display: flex
                    flex-direction: row
                    align-items: center
                    justify-content: space-between
                    background: transparentize(lighten($default, 4), .6)
                    border-radius: 10px
                    box-sizing: border-box
                    margin: 10px
                    box-shadow: $box_shadow_1
                    padding: 0 20px
                    backdrop-filter: blur(15px)
                    border: 1px solid transparentize($secondary, 1)
                    transition: all .2s ease
                    .nav_caption
                        font-size: 18px
                        font-weight: 900
                    .nav_price
                        // display: none
                .nav_image
                    width: 100%
                    height: 100%
                    display: flex
                    justify-content: center
                    align-items: center
                    img
                        transition: all .2s ease
                        width: 140%
                        height: 140%
                        object-fit: contain
                        // transform: scale(1.1)
        .nav_list_toolbar
            @media #{$media_large}
                padding: 0 40px
                height: 80px
            display: flex
            justify-content: space-between
            top: 0
            left: 0
            // background: darken($default, 5)
            width: 360px
            height: 60px
            padding: 10px 30px
            position: relative
            line-height: 40px
            box-sizing: border-box
            margin-bottom: 10px
            background: darken($default, 4)
            border-radius: 10px
            box-shadow: inset $box_shadow_2
            // transition: all .6s ease
            .toolbar
                display: flex
                align-items: center
        .nav_list
            @media #{$media_large}
                padding: 0 40px
            @media #{$media_normal}
                padding: 0 20px
            position: relative
            height: 100%
            padding: 10px
            display: flex
            flex-direction: column
            background: darken($default, 2)
            box-sizing: border-box
            width: 360px
            // border: 1px solid $primary
            border-radius: 10px
            overflow: scroll
            box-shadow: inset $box_shadow_2
            transition: all .3s ease
            .nav_item
                @media #{$media_large}
                    height: 80px
                height: 60px
                display: flex
                padding: 10px
                box-sizing: border-box
                align-items: center
                border-radius: 10px
                transition: all .3s ease
                border: 2px solid transparentize($secondary, 1)
                &:hover
                    background: lighten($default, 0)
                    cursor: pointer
                    box-shadow: $box_shadow_1
                &.selected
                    border: 2px solid transparentize($secondary, 0)
                    background: lighten($default, 0)
                    box-shadow: $box_shadow_1, inset $box_shadow_2
                .nav_info
                    // text-transform: uppercase
                    margin-left: 10px
                    .nav_caption
                        font-weight: 900
                    .nav_price
                        font-size: 12px
                        .sum
                            color: $secondary
                .nav_image
                    @media #{$media_large}
                        height: 80px
                        width: 80px
                    height: 60px
                    width: 60px
                    img
                        width: 100%
                        height: 100%
                        object-fit: cover
    .StoreView
        height: 100%
        width: 65%
        display: flex
        flex-direction: row
        align-items: center
        padding: 40px 40px 40px 0
        box-sizing: border-box
        transition: all .2s ease
        z-index: 20
        &.hidden
            // width: 0
            opacity: 0
            transform: translateX(-100px) scale(.9)
            .info_group
                opacity: 0
        .Bag
            display: flex
            flex-direction: column
            width: 100%
            height: 100%
            align-items: center
            justify-content: center
            transform: translateY(30px)
            opacity: 0
            &.expanded
                justify-content: flex-start
                .preview
                    margin-top: 120px
                    justify-content: flex-start
                    .image_info
                        height: 200px
                        width: 150px
                    .info_group
                        width: 300px
                        .caption_info
                            font-size: 30px
            // transition: all .3s ease
            .preview
                display: flex
                // position: relative
                flex-direction: row
                box-sizing: border-box
                // padding: 90px
                height: 100vh
                width: 100%
                // height: 400px
                justify-content: flex-end
                align-items: center
                .image_info
                    position: absolute
                    left: 0
                    height: 140%
                    width: 50%

                    img
                        width: 100%
                        height: 100%
                        object-fit: cover
                .info_group
                    height: 250px
                    display: flex
                    flex-direction: column
                    box-sizing: border-box
                    width: 380px
                    padding: 20px 0 20px 40px
                    justify-content: space-between
                    transition: opacity .8s ease
                    .caption_info
                        font-size: 40px
                        font-weight: 600
                        transform: translateY(30px)
                        opacity: 0
                    .text_info
                        font-size: 18px
                        line-height: 22px
                        font-weight: 300
                        // margin-top: 15px
                        opacity: 0
                    .open_btn
                        // margin-top: 15px
                        margin-left: -15px
                        opacity: 0
                    @media #{$media_large}
                        width: 500px
                        height: 380px
                        padding: 50px 0 50px 80px
                        justify-content: space-between
                        .caption_info
                            font-size: 60px
                        .text_info
                            font-size: 20px
                            line-height: 26px
                        .open_btn
                            margin-left: 8px
            .bag_card
                width: 100%
                display: none
                flex-direction: row
                justify-content: center
                padding: 0 70px
                align-items: center
                &.opened
                    display: flex
                .gallary
                    display: flex
                    flex-direction: row
                    justify-content: center
                    align-items: center
                    div
                        width: 200px
                        height: 200px
                        padding: 10px
                        img
                            width: 100%
                            height: 100%
                            object-fit: cover
    &.selected
        .Bag
            // transform: translateY(0px)
            animation: loading_text .6s ease
            animation-fill-mode: forwards
            animation-delay: .6s
            .caption_info
                animation: loading_text .5s ease
                animation-fill-mode: forwards
                animation-delay: 1.2s
            .text_info
                animation: opacity_text 1.5s ease
                animation-fill-mode: forwards
                animation-delay: 1.7s
            .open_btn
                animation: opacity_text 1.5s ease
                animation-fill-mode: forwards
                animation-delay: 2.5s


@keyframes loading_text
  0%
    transform: translateY(30px)
    opacity: 0
  100%
    transform: translateY(0px)
    opacity: 1

@keyframes opacity_text
  0%
    opacity: 0
  100%
    opacity: 1

@keyframes loading_grid
  0%
    transform: translateY(100px)
    opacity: 0
  100%
    transform: translateY(0px)
    opacity: 1
